@model IEnumerable<App.Web.Entity.Concrete.User>
@{
    ViewData["Title"] = "Kullanıcılar";
}

<div class="container mt-5">
    <h3>Kullanıcılar</h3>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-success">Yeni Kullanıcı Ekle</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Adı</th>
                    <th>E-posta</th>
                    <th>Şehir</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Rol</th>
                    <th>Güncelleme Tarihi</th>
                    <th>Silinme Tarihi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.RoleId)</td>
                        <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.DeletedAt)</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Düzenle</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
