@model IEnumerable<App.Web.Entity.Concrete.PostImage>
@{
    ViewData["Title"] = "Images";
}

<div class="container">
    <h2 class="mt-4">Images</h2>
    <a asp-controller="Blogs" asp-action="Index" class="btn btn-secondary ml-2">Return List</a>
    <a asp-action="Create" class="btn btn-primary ml-2">Add New Image</a>
    <hr />

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Post Title</th>
                <th>Image</th>
                <th>Transaction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Post.Title)</td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="Image" class="img-thumbnail" style="max-height: 100px;" />
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Transaction">
                                <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Update</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
