@model IEnumerable<SearchViewModel>

@{
    ViewData["Title"] = "Blog Arama";
}

<section class="section-padding pt-4">
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="mb-4 post-list border-bottom pb-4">
                    <div class="row no-gutters">
                        @if (item.PostImage is not null)
                        {
                            <div class="col-md-5">
                                <a class="post-thumb" asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Post.Id">
                                    <img src="@item.PostImage.ImagePath" alt="" class="img-fluid w-100">
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-5">
                                <a class="post-thumb" asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Post.Id">
                                    <img src="/Img/fashion/img-1.jpg" alt="" class="img-fluid w-100">
                                </a>
                            </div>
                        }
                        <div class="col-md-7">
                            <div class="post-article mt-sm-3">
                                <div class="meta-cat">

                                    <span class="letter-spacing cat-name font-extra text-uppercase font-sm">
                                        <a asp-controller="Category" asp-action="Index" asp-route-id="@item.Category.Id">@item.Category.Name</a>
                                    </span>
                                    
                                </div>
                                <h3 class="post-title mt-2"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Post.Id">@item.Post.Title</a></h3>
                                <div class="post-meta">
                                    <ul class="list-inline">
                                        <li class="post-like list-inline-item">
                                            <span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>3 min read</span>
                                        </li>
                                        <li class="post-view list-inline-item letter-spacing-1">259 Views</li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    @if (!string.IsNullOrEmpty(item.Post.Content) && item.Post.Content.Length > 200)
                                    {
                                        <p>@item.Post.Content.Substring(0, 200)</p>
                                    }
                                    else
                                    {
                                        <p>@item.Post.Content</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="pagination mt-5 pt-4">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="active">1</a></li>
                    <li class="list-inline-item"><a href="#">2</a></li>
                    <li class="list-inline-item"><a href="#">3</a></li>
                    <li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>